.cli-page {
	height: calc(100vh - 60px);
	width: 100%;
    overflow: hidden;

    .actions-panel {
        padding-bottom: 12px;

        .action-question-wrapper {
            background-color: white;
            margin-bottom: 4px;

            .question-raw-text {
                border: 1px solid silver;
                padding: 4px;
                margin-bottom: 0;
            }
        }
        .action-answer-wrapper {
            background-color: white;
            margin-bottom: 4px;
            border: 1px solid silver;
            padding: 4px;

            pre {
                margin-bottom: 0;
            }
        }           
    
    }

    .question-panel {
        height: 100%;

        .question-panel--question {
            font-family: monospace;
            font-size: 14px;
            height: 100%;
        }        
    }    
}



// For component EditableText
.editable-text {
    td {
        border-width: 0;
    }
    td.tools-column {
        width: 30px;
        vertical-align: top;
    }
    .editable-text-icon {
        cursor: pointer;
        vertical-align: top;
        width: 24px;
        height: 24px;
    }
}

// override
tr.thread-title-editor {
    td.tools-column {
        vertical-align: middle;
    }
    .editable-text-text {
        font-weight: bold; 
        font-size: 40px; 
    }
}

tr.action-title-editor {
    td.tools-column {
        vertical-align: middle;
        width: 200px;
    }
}
