#webcli [data-purpose='thread'].card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: beige;
    margin-top: 12px;
    margin-bottom: 12px;

    .card-title {
        height: 24px;
        overflow: hidden;
    }

    .card-text {
        height: 100px;
        overflow: hidden;
    }
}